footer{
    background:#161B22;
}

.footer__contact{
    position: relative;
    text-align: center;
    height: 5vh;
}

.footer__contact-box{
    position:absolute;
    left: 33%;
    bottom:0;
    height: 250px;
    width: 400.391px;
    background:white;
    border-radius: 5px;
    box-shadow:0px 10px 20px rgba(0,0,0,0.5);
}
.footer__header{
    color:white;
}
.about__socialList > div > div{
    text-align: center;
}
.footer__navLinks{
    color:white;
}

.footer__copyright{
    font-size: 20px;
    font-weight: lighter;
    color:white
}
