

/* Override Boostrap */
.section__title{
  font-weight: 600;
}
.navbar{
  border:none !important;
}

.nav-link{
  font-size: 20px;
  font-weight: bolder;
  transition: 0.3s;
  color: #aaaaaa !important;
}
.nav-link:hover{
  color: black !important;
}