

.screen-long{
  min-height: 700px;
}

.center-Loader{
  height: 100%;
  display: grid;
  place-items: center;
  width: 100%;
}

.center-Loader-long{
  height: 100vh;
  display: grid;
  place-items: center;
  width: 100%;
}

/* Override Boostrap */
.section__title{
  font-weight: 600;
}
.navbar{
  border:none !important;
}

.nav-link{
  font-size: 20px;
  font-weight: bolder;
  transition: 0.3s;
  color: #aaaaaa !important;
}
.nav-link:hover{
  color: black !important;
}

.form-control{
  border:1px solid #161B22;
}

.carousel-control-next-icon, .carousel-control-prev-icon, .carousel-indicators{
  filter: invert(1) grayscale(100);
}